/* Gamepage */

#app {
    height: 90vh;
    margin-right: 0;
    margin-bottom: 0;
  }
  #console {
    box-sizing: border-box;
    border: solid #0d5297;
    height: 45%;
    overflow: auto;
  }
  #instWindow {
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 10px;
    height: 45%;
    overflow: auto;
  } #instWindow span {color: yellow}

  #gameMain {
    margin-top: 45px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0;
  }
  #pyarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
  }
  #windowButtons {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    height: 25px;
  }
  .windowbutton {
    bottom: 0;
    color: white;
    font-family: consolas;
    width: auto;
    height: 20px;
    border: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    transition: height 0.2s;
  }
  .windowbutton:hover {
    height: 25px;
  }

  #consolebutton {
    background-color: #0d5297;
  } #instbutton {
    background-color: black;
  } #devbutton {
    background-color: #FFBB91;
    color: black;
  }

  #runbutton {
    font-family: consolas;
    background-color: greenyellow;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    border: solid 1px green;
    border-radius: 5px;
  } #runbutton:hover {
    cursor: pointer;
  }
  
  #gameDiv {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  #codeArea {
    width: 60%;
    margin-bottom: 0;
  }
  #caseDesc {
    width: 40%;
    border: groove #cca93f 10px;
    background-color: #bd6739;
    padding: 10px;
    margin-left: 5px;
  }
  #dataset {
    background-color: black;
    font-family: consolas;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .itemGood {
    background-color: #0d5297;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }
  .itemAlert {
    background-color: #FFBB91;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }
  .itemBad {
    background-color: crimson;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }