/* Gamepage */

#app {
    height: 90vh;
    margin-right: 0;
    margin-bottom: 0;
  }
  #console {
    box-sizing: border-box;
    border: solid #0d5297;
    height: 45%;
    overflow: auto;
  }
  #instWindow {
    box-sizing: border-box;
    background-color: black;
    color: white;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 10px;
    height: 45%;
    overflow: auto;
  } #instWindow span {color: yellow}

  #gameMain {
    margin-top: 5px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0;
  }
  #pyarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
  }
  #windowButtons {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    height: 25px;
  }
  .windowbutton {
    color: white;
    font-family: consolas;
    width: auto;
    height: 20px;
    border: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    transition: height 0.2s;
  }
  .windowbutton:hover {
    height: 25px;
  }

  #consolebutton {
    background-color: #0d5297;
  } #instbutton {
    background-color: black;
  } #devbutton {
    background-color: #FFBB91;
    color: black;
  }

  #runbutton {
    float: right;
    font-family: consolas;
    background-color: greenyellow;
    padding: 5px;
    padding-left: 10px; padding-right: 10px;
    border: solid 1px green;
    border-radius: 5px;
  } #runbutton:hover {
    cursor: pointer;
    font-style: italic;
  }
  
  #gameDiv {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  #codeArea {
    width: 60%;
    margin-bottom: 0;
  }
  #caseDesc {
    position: relative;
    width: 40%;
    border: groove #cca93f 10px;
    background-color: #bd6739;
    padding: 10px;
    margin-left: 5px;
  }
  #dataset {
    background-color: black;
    font-family: consolas;
    color: white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .bg-primary {
    background-color: #0d5297;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }
  .bg-warning {
    background-color: rgb(255, 224, 92);
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }
  .bg-danger {
    background-color: crimson;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }

/* Correct / Incorrect answer */

#indicator {
    position: absolute;
    margin: 10px;
    width: 100px;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.indicatorFalse {
    border: double darkred;
    background-color: crimson;
    animation-name: incorrect;
    animation-duration: 0.4s;
}
.indicatorTrue {
    border: double darkgreen;
    background-color: greenyellow;
    animation-name: correct;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
}
.shake {
  animation-name: incorrect;
  animation-duration: 0.4s;
}

@keyframes incorrect {
    0% {left: 0px;}
    25% {left: 20px;}
    50% {left: -20px;}
    75% {left: 20px;}
    100% {left: 0px;}
}
@keyframes correct {
    0% {transform: rotate(0deg);}
    60% {transform: rotate(-20deg); bottom: 30px;}
    80% {transform: rotate(10deg); bottom: 0px;}
    100% {transform: rotate(0deg); bottom: 15px;}
}

/* TEMPORARY */

#tempCodeForm {
  position: relative;
}
#codeButtons {
  position: relative;
  height: 30px;
}