/* Gamepage */

#app {
    height: 90vh;
    margin-right: 0;
    margin-bottom: 0;
  }
  #console {
    box-sizing: border-box;
    border: solid #0d5297;
    height: 45%;
    overflow: auto;
  }
  #rulesWindow {
    background-color: black;
    color: white;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 10px;
    height: 285px;
    overflow: auto;
    margin-right: 0;
  }
  #gameMain {
    margin-top: 45px;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0;
  }
  #pyarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
  }
  #runbutton {
    background-color: #0d5297;
    color: white;
    font-family: consolas;
    width: 50px;
    height: 20px;
    border: none;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
  }
  #rulesbutton {
    background-color: black;
    color: white;
    font-family: consolas;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    border: none;
    border-top-right-radius: 20%;
    border-top-left-radius: 20%;
  }
  #gameDiv {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  #codeArea {
    width: 60%;
    margin-bottom: 0;
  }
  #caseDesc {
    width: 40%;
    border: solid;
    margin-left: 5px;
  }
  
  .itemGood {
    background-color: #0d5297;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }
  .itemCaution {
    background-color: #FFBB91;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }
  .itemBad {
    background-color: crimson;
    font-family: consolas;
    margin: 0;
    padding: 10px;
  }