@import url("https://fonts.google.com/specimen/Raleway");
@import url('https://fonts.google.com/specimen/Montserrat');
h1, h2, h3 {
  font-family: Monsterrat, Raleway;
}



/* Header stuff */
.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  

}

.navbaritems{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: xx-large;
  color: white;
  background-color: rgb(21, 96, 130);

}

.navbaritems li{
    display: inline;
    font-size: 30px;
    color: white;
    margin-right:70px;
    justify-content: center;
    
  }

.navbaritems a{
  color: white;
  text-decoration: none;
}
.Games{
  text-decoration: none;
  color: white;
}
.Games:hover{
  transform: scale(1.1);
  
}
.Leaderboard:hover{
  transform: scale(1.1);
  
}
.Profile:hover{
  transform: scale(1.1);
}
.Login:hover{
  transform: scale(1.1);
}
.Logout:hover{
  transform: scale(1.1);
}

/*CONTENT*/
body{
    background-color: rgb(46, 112, 155);
    margin: 0;
}
.flex-container{
  display:flex;
  justify-content: center;
  
  
}

.banner{
    background-color:  rgb(255, 224, 92); 
    text-align: center;
    font-size: larger;

  }
  .banner h2{
    color: rgb(255, 255, 255);

  }


#content3{
    display:flex;
    justify-content: space-evenly;

}
.leaderboard{
    background-color: rgb(21, 96, 130);
    color: white;
    font-size: 20px;
    width:40%;
    display: flex;
    flex-direction: column;
    
}
.leaderboard_title{
  margin-left: auto;
  margin-right:auto;
}

.leaderboard_students{
  display: flex;
  justify-content: space-evenly;

}

  
  #games{
      background-color: rgb(21, 96, 130);
      color: white;
      width:40%;
  }



/*login page*/
.welcome_text{
  color: white;
  justify-content: center;
}