@import url("https://fonts.google.com/specimen/Raleway");
@import url('https://fonts.google.com/specimen/Montserrat');
h1, h2, h3 {
  font-family: Monsterrat, Raleway;
}



/* Header stuff */
.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  

}

.navbaritems{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: xx-large;
  color: white;
  background-color: rgb(21, 96, 130);

}

.navbaritems a{
  color: white;
  text-decoration: none;
}
.Games{
  text-decoration: none;
  color: white;
}
.Games:hover{
  transform: scale(1.1);
  
}
.Leaderboard:hover{
  transform: scale(1.1);
  
}


/*CONTENT*/
body{
<<<<<<< HEAD
    background-color: rgb(75, 95, 194);
    height: 80vh;
=======
    background-color: rgb(46, 112, 155);
    margin: 0;
>>>>>>> 3a46134 (Onsdag_Markus)
}
.flex-container{
  display:flex;
  justify-content: center;
  margin:20%;
  
}

.banner{
    background-color:  rgb(255, 224, 92); 
    text-align: center;
    font-size: larger;

  }
  .banner h2{
    color: rgb(255, 255, 255);

  }


#content3{
    display:flex;
    justify-content: space-evenly;

}
.leaderboard{
    background-color: rgb(21, 96, 130);
    color: white;
    font-size: 20px;
    width:40%;
    display: flex;
    flex-direction: column;
    
}
<<<<<<< HEAD
<<<<<<< HEAD
.content2{
width: 100%;
background-color: rgb(77, 87, 177);

<<<<<<< HEAD
=======
/* Gamepage */

#app {
  height: 90vh;
  margin-right: 0;
  margin-bottom: 0;
>>>>>>> 220d85a (Css)
}
#content3{
    display: flex;
    justify-content: center;
}

#games{
    margin-right: 10%;
    background-color: #0d5297;
    display:flex;
    color: white;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom:100px;
    font-size: 30px;
}
<<<<<<< HEAD

=======


=======
>>>>>>> 220d85a (Css)



=======
.leaderboard_title{
  margin-left: auto;
  margin-right:auto;
}

.leaderboard_students{
  display: flex;
  justify-content: space-evenly;

}

  
  #games{
      background-color: rgb(21, 96, 130);
      color: white;
      width:40%;
  }

  @media screen and (max-width:600px) {
    #content3{
      display:flex;
      color: red;
  
  }
  }
>>>>>>> 3a46134 (Onsdag_Markus)
