@import url("https://fonts.google.com/specimen/Raleway");
@import url('https://fonts.google.com/specimen/Montserrat');
h1, h2, h3 {
  font-family: Monsterrat, Raleway;
}

/* Header stuff */
#header{
    background-color: #0d5297;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    
  }

#navbaritems li{
    display: inline;
    font-size: 30px;
    color: white;
    margin-right:70px;
    justify-content: center;
    
  }

#navbaritems{
    position: fixed;
    margin: 0;
    top: 0;
    display: flex;
    
}

#navbaritems #login{
    background-color: rgb(61, 150, 238);
    margin-left: 100%;
    margin-right:5%;
    padding-left:10%;
    padding-right:10%;

}

/*CONTENT*/
body{
    background-color: rgb(75, 95, 194);
    height: 80vh;
}

.banner{
    background-color:  rgb(255, 224, 92); 
    flex:50%;
    text-align: center;
    font-size: larger;
    margin-top: 10%;
    width:100%;
    margin-bottom: 1%;
  }
  .banner h2{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #5a5757;
  }
  .flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
  }

#content3{
    background-color: #201a70;
    display:flex;
    flex-direction: row;

}
.leaderboard{
    background-color: #0d5297;
    color: white;
    padding-left: 50px;
    padding-right:50px;
    font-size: 20px;
}
<<<<<<< HEAD
.content2{
width: 100%;
background-color: rgb(77, 87, 177);

}
#content3{
    display: flex;
    justify-content: center;
}

#games{
    margin-right: 10%;
    background-color: #0d5297;
    display:flex;
    color: white;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom:100px;
    font-size: 30px;
}

=======

/* Gamepage */

#app {
  height: 90%;
}

#console {
  border: solid;
  height: 300px;
  overflow: auto;
  
}

.itemGood {
  background-color: #0d5297;
  padding: 10px;
}
.itemCaution {
  background-color: #FFBB91;
  padding: 10px;
}
.itemBad {
  background-color: crimson;
  padding: 10px;
}
.content2{
width: 100%;

}
#content3{
    display: flex;
    justify-content: center;
}

#games{
    margin-right: 20%;
    background-color: #0d5297;
    display:flex;
    color: white;
}


