
/* Transitions and animations */


/* Animation for result check */

.checked {
    animation-name: correct 0.6s;
    animation-timing-function: ease-out;
}
.shake {
    animation-name: incorrect 0.4s;
  }

@keyframes incorrect {
    0% {transform: translateX(0);}
    25% {transform: translateX(20px);}
    50% {transform: translateX(-20px);}
    75% {transform: translateX(20px);}
    100% {transform: translateX(0);}
}
@keyframes correct {
    0% {transform: rotate(0deg);}
    60% {transform: rotate(-20deg); bottom: 30px;}
    80% {transform: rotate(10deg); bottom: 0px;}
    100% {transform: rotate(0deg); bottom: 15px;}
}