<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/gamepage.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <header id="header">
        <nav>
            <ul id="navbaritems">
                <li>Games<a href="games.html"></a></li>
                <li>Leaderboard<a href="leaderboard.html"></a></li>
                <li>Profile</li>
                <li id="login">login</li>
            </ul>
        </nav>
    </header>
    <main id="gameMain">
        <div id="app">
            <div id="gameDiv" v-if="gameStarted">
                <div id="caseDesc">
                    <h2>{{ caseTitle }}</h2>
                    <p>{{ caseDesc }}</p>
                    <div id="dataset">{{ caseDset }}</div>
                </div>
                <div id="codeArea">
                    <form action="" method="POST" style="position:relative;height:55%;">
                        <textarea name="pyarea" id="pyarea" cols="60" rows="20" v-on:keydown.tab.prevent="indentation"
                        placeholder="Pro-tip: Press [shift] + [Enter] to run the code!"
                        v-on:keydown.shift.enter.prevent="runCode"
                        v-on:keydown.ctrl.v.prevent=""></textarea>
                        <div id="windowButtons">
                            <input type="button" id="consolebutton" v-on:click="display(0)" value="console" class="windowbutton">
                            <input type="button" id="instbutton" v-on:click="display(1)" value="instructions" class="windowbutton">
                        </div>
                        <input type="button" id="runbutton" style="float: right;" value="run!" v-on:click="runCode">
                    </form>

                    <!-- CONSOLE WINDOW -->
                    <!-- BUG: Div doesn't stay scrolled at the bottom. -->
                    <div id="console" v-if="windows[0]">
                        <p v-bind:class="item[0]" v-for="item in consoleItems">[[ item[1] ]]</p>
                    </div>

                    <!-- INSTRUCTIONS WINDOW -->

                    <div id="instWindow" v-else-if="windows[1]">
                        <p>Write your python code as you would normally. To submit an answer, you must return that value with a 
                            "return" statement and press "run". You will be cautioned against using the "print()" statement, as the 
                            interpreter is not built to take your submission with it.
                        </p>
                        <p>Any <span>code error</span> will result in a <span>penalty</span>.<br>
                            <span>Wrong answer</span> will result in a <span>penalty</span>.</p>
                        <p>Following <span>restrictions</span> are active.</p>
                        <ul>
                            <li><span>Modules</span> are prohibited.
                                attempts at importing will result in <span>penalties</span>. You are free to use the math module,
                                which is pre-imported.</li>
                            <li>The <span>open</span> function is prohibited. Attempts at file 
                            modification will result in <span>penalties</span>.</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div v-else>
                {{ caseDesc }}
                <button @click="startGame">Start</button>
            </div>
        </div>
    </main>
</body>
<script>
    Vue.createApp({
        delimiters: ['[[', ']]'],               // Prevent conflicts with Jinja2
        data: function() {
            return {
                answer: null,
                consoleItems: [["itemGood", "> placeholder 1"],
                ["itemAlert", "> placeholder 2"],
                ["itemBad", "> placeholder 3"]],
                gameStarted: true,               // Remember to change this to false
                windows: [true, false, false],
            }
        },
        methods: {
            startGame() {
                this.gameStarted = true;
            },

            display(window) {
                this.windows = [false, false, false];
                this.windows[window] = true;
            },


            indentation(){
                let textField = document.getElementById("pyarea");      // Prevents default action at tabulator, adds indentation instead
    
                // Get text index at cursor placement
                let start = textField.selectionStart;
                let end = textField.selectionEnd;
    
                // Add indentation at cursor placement
                let newText = textField.value.substring(0, start) + "\t" + textField.value.substring(end);
                textField.value = newText;
            },
    
    
            
            async runCode() {

                let input = document.getElementById("pyarea").value;                // Send the user's code to the python app
                let response = await fetch("/run",{
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    body: "py="+input
                });
                if (response.status == 200){
                    let result = await response.text();
                    let severity = "";

                    if (result[0] > 1){             // Determines penalty to user
                        severity = "itemBad"
                    }else if (result[0] > 0){severity = "itemAlert"}
                    else{severity = "itemGood"}

                    this.consoleItems.push([severity, result.slice(2)]);

                    if (result[1] == 1) {
                        this.answer = true;
                    } else { this.answer = false }

                    // Scrolls to the bottom of the console as new items is added.
                    setTimeout(function() {
                        let console = document.getElementById("console");
                        console.scrollTop = console.scrollHeight;
                    }, 500)

                }
            },

        }
    }).mount("#app");

</script>
</html>