<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Learn Python</title>
</head>
<body>
    <header id="header">
        <div class="navbaritems">
           <a href="" class="logo">Logo</a>
           <a class="Games" href="/">Games</a>
           <a class="Leaderboard" href="leaderboard">Leaderboard</a>
           <div class="Profile">Profile</div>
           <div class="Login">Login</div>
        </div>
    </header>
    <main id="flex-container">
                <div class="banner">
                    <h2>Learn python today!</h2>
                </div>
                <div id="content3">
                    <div id="games">
                        <ul id="navbargames">
                            <h1>Games</h1>
                            <h3>Game1</h3>
                            <div id="Game1_desc">
                                {{ caseDesc1 }}
                            </div>
                            <button>Start</button>
                            
                            <h3>Game2</h3>
                            <button>Start</button>
                            <h3>Game3</h3>
                            <button>Start</button>
                        </ul>
                    </div>
                    <div class="leaderboard">
                        <div class="leaderboard_title">
                            <div>
                                <h1>Leaderboard</h1>
                            </div>
                            <div>
                                <h3>Topp 3 students</h3>
                            </div>
                        </div>
                        <div class="leaderboard_students">
                            <div class="only_students">
                            <table>
                                {% for student in leaderboard %}
                                    <tr>
                                        <td>{{leaderboard[student]['placement']}}</td>
                                        <td>{{leaderboard[student]['name']}}</td>
                                        <td>{{leaderboard[student]['time']}}</td>
                                    </tr> 
                            {%endfor%}
                            </table>
                        </div>
                    </div>
                </div>
    </main>
</body>
</html>